libvlc.rar
秘籍
gradle
.gradle
.idea
*.iml
new_repo
captures
AxtAppCompat/build/
**/build/
**/bin/
**/.settings/
**/.idea/
**/debug/
**/release/
**/gen/
**/test/
**/LibPdfium/src/main/jni/include
ODPlayer/src/main/assets
ODPlayer/src/main/jniLibs/arm64-v8a/*.so
ODPlayer/src/main/jniLibs/armeabi-v7a/*.so
ODPlayer/src/main/jniLibs/x86/*.so
*.jar

#git remote add origin https://github.com/KnIfER/vlc-android-1000y.git
#git push -u origin +master

#git rm filepicker/build/ -r -f
#git push origin HEAD --force
#git ls-files
#git rm FILE --cached
#./gradlew ODPlayer：dependencies

#git checkout -b dev origin/dev
*.so
*.so
*.o
*.d
*.rar

