<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:tools="http://schemas.android.com/tools"
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.knziha.polymer">
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	<uses-permission android:name="android.permission.STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<uses-permission android:name="android.permission.CAMERA" />

	<uses-permission android:name="android.permission.FLASHLIGHT" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:hardwareAccelerated="true"
		tools:ignore="GoogleAppIndexingWarning"
		android:name="com.knziha.polymer.AgentApplication"
		android:usesCleartextTraffic="true"
		android:requestLegacyExternalStorage="true">
		<uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip" />

		<activity android:name="com.knziha.polymer.horizontallistview.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance"
			android:configChanges="orientation|keyboardHidden|screenSize|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
		</activity>
		<activity
			android:name="com.knziha.polymer.BrowserActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.LAUNCHER" />-->
<!--			</intent-filter>-->
		</activity>

		<activity
			android:name="com.knziha.polymer.widgets.PrintPdfAgentActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:theme="@style/AppThemeTranslucent"
			android:taskAffinity=""
			android:exported="false"
			>
		</activity>


		<activity
			android:name=".pdviewer.PDocViewerActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".pdviewer.PDocBenchMarkctivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
		</activity>

		<activity
			android:name="com.knziha.polymer.slideshow.ViewpagerDebugActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance"
			android:configChanges="orientation|keyboardHidden|screenSize|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
<!--						<intent-filter>-->
<!--							<action android:name="android.intent.action.MAIN" />-->
<!--							<category android:name="android.intent.category.LAUNCHER" />-->
<!--						</intent-filter>-->
		</activity>

		<activity
			android:name="com.knziha.polymer.matrix.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance"
			android:configChanges="orientation|keyboardHidden|screenSize|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.LAUNCHER" />-->
<!--			</intent-filter>-->

		</activity>

		<activity android:name="com.knziha.polymer.matrix.MatrixBaseActivity" android:theme="@style/ActivityTheme"/>
		<activity android:name="com.knziha.polymer.matrix.MatrixDistortionActivity" android:theme="@style/ActivityTheme"/>
		<activity android:name="com.knziha.polymer.matrix.ColorMatrixActivity" android:theme="@style/ActivityTheme"/>
		<activity android:name="com.knziha.polymer.matrix.ColorFilterActivity" android:theme="@style/ActivityTheme"/>
		<activity android:name="com.knziha.polymer.matrix.ColorHueActivity" android:theme="@style/ActivityTheme"/>

		<activity
			android:name="com.knziha.polymer.browser.BrowseActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance"
			android:configChanges="orientation|keyboardHidden|screenSize|uiMode|locale|layoutDirection"
			android:excludeFromRecents="false"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			>
		</activity>

		<activity android:name="com.knziha.polymer.flowtextview.sample.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance"
			android:configChanges="orientation|keyboardHidden|screenSize|uiMode|locale|layoutDirection"
			android:theme="@style/ActivityTheme"
			>
		</activity>

		<activity android:name="com.knziha.polymer.widgets.ShareActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@style/ActivityTheme"
			>
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->
<!--				<category android:name="android.intent.category.LAUNCHER" />-->
<!--			</intent-filter>-->
		</activity>

		<activity
			android:name=".qrcode.QRActivity"
			android:theme="@style/AppThemeTranslucent"
			android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|locale|layoutDirection"
			/>


<!--		<service-->
<!--			android:name="com.knziha.polymer.SimpleService">-->
<!--		</service>-->
	</application>

</manifest>
